* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@media (max-width: 428px) {
    main {
        height: 100vh;
        width: 100vw;
        background-image: url(./images/onboarding.png);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
        transition: all 0.5s ease-in-out;
        right: 428px;
    }

    .start-screen-div {
        background-color: black;
        height: 100vh;
        width: 100vh;
    }

    .inner-start-screen {
        width: 100%;
        height: 100%;
        background-color: white;
    }

    .image-div1{
        top: 30rem;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        /* top: 10rem; */
    }

    .image-div {
        top: 27.125rem;
        visibility: hidden;
        transition: all 2s ease-in-out;
    }

    .banking-made-easy {
        top: 21.8rem;
        transition: all 0.5s ease-out;
        visibility: hidden;
    }

    .banking-made-easy h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }

    .getstarted-text-div {
        top: 10vh;
    }

    .safe-h3 {
        font-size: 28px;
    }

    .safe-text {
        color: rgb(16, 173, 99);
    }

    .offer-h6 {
        font-size: 16px;
    }

    .banking {
        color: rgb(0, 175, 239);
    }

    .getstarted-btn-div {
        top: 47.44rem;
    }

    .getstarted-btn {
        width: 24.25rem;
        height: 3.9rem;
        background-color: rgba(0, 168, 89, 1);
    }

    .getstarted-btn:hover {
        background-color: rgb(53, 211, 137);
    }

    .get-started-text {
        font-size: 24px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 28.13px;
    }

    .vector {
        margin-left: 0.65rem;
    }
}

@media (max-width: 393px) {
    main {
        height: 100vh;
        background-image: url(./images/onboarding.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

}