* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@media (max-width: 428px) {
    main {
        height: 100vh;
        width: 100vw;
        background-image: url(../../images/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
    }
}