* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@media (max-width: 428px) {
    main {
        height: 100vh;
        width: 100vw;
        background-image: url(../images/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
    }

    .signup-text {
        top: 6rem;
        font-weight: 600;
        font-size: 24px;
        line-height: 28.13px;
        text-align: center;
        color: rgba(11, 11, 11, 1);
    }

    form {
        top: 15.6rem;
        left: 1.25rem;
    }

    input {
        width: 24.25rem;
        background-color: inherit;
        border-bottom: 1px solid rgba(11, 11, 11, 0.5);
        padding-left: 1.8rem;
        outline: none;
    }

    input::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: rgba(11, 11, 11, 0.5);
    }

    .check-box {
        width: 1.3rem;
        height: 1.3rem;
    }

    .creating {
        width: 17rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: rgba(11, 11, 11, 0.5);
    }

    .btn-div {
        top: 30.5rem;
    }

    button {
        background-color: rgba(217, 217, 217, 1);
        width: 24.25rem;
        height: 3.625rem;
    }

    .signupbtn-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: rgba(11, 11, 11, 1);
    }

    .have-account {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: rgba(11, 11, 11, 1);
        top: 51rem;
        text-align: center;
    }

    .sign-in-text {
        color: rgba(0, 168, 89, 1);
    }

    .showhide {
        top: 0;
        right: 1.25rem;
    }
}