* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@media (max-width: 428px) {
    main {
        height: 100vh;
        width: 100vw;
        object-fit: contain;
    }

    .transfer-header-div {
        border-bottom: 0.5px solid #D9D9D9;
    }

    .transfer-header {
        width: 90%;
    }

    .transfer-header h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    .bankEase-account,
    .other-bankAccount{
        width: 90%;
        background-color: rgba(0, 168, 89, 1);
    }

    .inner-bankEase{
        width: 90%;
    }

    .inner-bankEase h3{
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: rgba(255, 255, 255, 1);
    }

    .inner-bankEase h4{
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .other-bankAccount{
        background-color: rgba(0, 175, 239, 1);
    }

    .bank{
        width: 3.5rem;
        height: 3.5rem;
        margin-left: -5px;
    }

    .img-slider-div {
        width: 90%;
        height: 14.25rem;
    }

    .footer {
        height: 4.5rem;
        border-top: 0.5px solid #D9D9D9;
    }

    .footer-inner {
        background-color: rgba(255, 255, 255, 1);
        width: 90%;
    }

    .round {
        width: 2.1rem;
        height: 2.1rem;
    }

    .footer-inner .transfer,
    .footer-inner h6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: rgba(0, 168, 89, 1);
    }

    .footer-inner h6 {
        color: rgba(217, 217, 217, 1);
    }

    .a-link {
        text-decoration: none;
    }

    .transfer-to-bankEase-account-div{
        height: 100vh;
        background-color: rgba(0, 168, 89, 1);
        top: 0;
        right: 428px;
        right: 0;
        z-index: 9999;
        transition: all 1s ease;
    }

    .transfer-to-bankEase-account-div-inner{
        height: 100%;
    }

    .transfer-bankease h5{
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    .inner-content-div{
        width: 90%;
    }

    .recipient{
        top: 5.5rem;
        font-size: 18px;
        line-height: 21px;
    }

    .enter-account{
        top: 7.6rem;
        width: 90%;
    }

    .enter-account input{
        background-color: rgba(255, 255, 255, 1);
        padding: 10px 0;
        outline: none;
    }

    .enter-account input::placeholder{
        color: rgba(217, 217, 217, 1);
    }

    .beneficiary{
        top: 11.3rem;
        left: 2.75rem;
    }

    .show-account-name{
        top: 13.5rem;
        width: 90%;
    }

    .show-account-name input{
        background-color: white;
    }

    .transfer-amount-div{
        top: 18rem;
    }

    .transfer-amount-div h4{
        font-weight: 800;
        font-size: 36px;
        line-height: 42px;
    }

    .naira{
        width: 2.5rem;
        height: 2.5rem;
    }

    .transfer-amount-div h6{
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }

    .keypad-div{
        top: 22.5rem;
        width: 90%;
        height: 17rem;
    }

    .keypad-border{
        width: 3.125rem;
        height: 3.125rem;
        border: 1px solid white;
    }

    .keypad-border h3:hover{
        background-color: rgba(0, 168, 89, 1);
    }

    .narration-input{
        width: 90%;
        top: 45rem;
    }
    .narration-input input{
        background-color: rgba(255, 255, 255, 1);
        padding: 10px 0;
        outline: none;
    }

    .narration-input input::placeholder{
        color: rgba(217, 217, 217, 1);
    }

    .confirm-btn-div{
        width: 90%;
        top: 50rem;
    }

    .confirm-btn-div button{
        height: 3.3rem;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 1);
        background-color: inherit;
        border: 1px solid white;
    }

    .transfer-to-otherBank-account-div{
        height: 100vh;
        background-color: rgba(0, 175, 239, 1);
        top: 0;
        right: 428px;
        /* right: 0; */
        z-index: 99991;
        transition: all 1s ease;
    }

    .select-bank{
        top: 14rem;
        width: 90%;
    }

    .transfer-confirmation-div{
        bottom: -30vh;
        display: none;
        transition: all 0.5s linear;
    }

    .are-you-sure{
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }

    .transfer-confirmation-div h3{
        font-weight: 800;
        font-size: 36px;
        line-height: 42px;
    }

    .transfer-confirmation-div h2{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 168, 89, 1);
        text-align: center;
    }

    .yes-btn,
    .no-btn{
        width: 40%;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: white;
        background-color: rgba(0, 168, 89, 1);
    }

    .no-btn{
        background-color: white;
        border: 1px solid rgba(237, 50, 55, 1);
        color: rgba(237, 50, 55, 1);
    }

}