* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@media (max-width: 428px) {
    main {
        height: 100vh;
        width: 100vw;
        object-fit: contain;
    }

    .airtime-header {
        width: 90%;
    }

    .airtime-header h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    .airtime-header h6 {
        color: rgba(0, 168, 89, 1);
        font-size: 16px;
        line-height: 20px;
    }

    .ads-div {
        width: 90%;
    }

    .select-network-phone-number {
        width: 90%;
    }

    .select-network-phone-number input {
        border-bottom: 1px solid black;
        outline: none;
    }

    .r-amount {
        width: 90%;
    }

    .r-amount h4 {
        font-size: 20px;
        font-weight: 500;
        line-height: 16px;
    }

    .r-amount button {
        width: 30%;
    }

    .r-amount h5 {
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
    }

    .r-amount h6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 168, 89, 1);
    }

    .input-recharge-amount-div h5 {
        top: 0.35rem;
        font-size: 20px;
    }

    .input-recharge-amount-div input {
        border-bottom: 1px solid black;
        outline: none;
        font-size: 20px;
        width: 90%;
    }

    .input-recharge-amount-div input:focus::placeholder {
        opacity: 0;
    }

    .input-recharge-amount-div button{
        color: white;
        width: 20%;
        background-color: rgb(141, 216, 180);
    }

    .confirmation-pin-div{
        bottom: 0;
        background-color: white;
        display: none;
    }

    .confirmation-pin-div h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 60px;
    }

    .confirmation-pin-div h4{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px
    }

    .confirmation-pin-div h5{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }

    .balance{
        border: 1px solid grey;
    }

    .balance h2{
        font-size: 22px;
        font-weight: 500;
    }

    .confirmation-pin-div button{
        font-size: 22px;
        font-weight: 500;
    }

    .confirm-cancel-div{
        top: 0;
        height: 100vh;
        background-color: rgba(92, 85, 85, 0.705);
        visibility: hidden;
    }

    .cancel-btn{
        background-color: inherit;
        border: 1px solid grey;
    }

    .confirm-msg{
        width: 80%;
    }

    .confirm-msg button{
        width: 40%;
    }

    .confirm-cancel-div h3{
        font-size: 18px;
    }

    .loader-div{
        top: 30rem;
    }

    .enter-pin-div{
        bottom: 0;
        height: 50vh;
        display: none;
    }

    .pin input{
        width: 2rem;
        height: 3rem;
        border: 1px solid grey;
        background-color: inherit;
        outline: none;
        padding-left: 12px;
    }

    .pin input:focus{
        border: 1px solid rgb(3, 214, 116);
    }

    .loader {
        position: relative;
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
    }

    .loader .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 6px solid rgba(0, 168, 89, 1);
        border-top-color: transparent;
        animation: rotate 1.5s linear infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .a-link{
        text-decoration: none;
    }


}